<!DOCTYPE html>
html(lang='en')
    head
        meta(charset='UTF-8')
        title Karol Kucza's homepage
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='author', content='Karol Kucza')
        meta(name='description', content='Karol Kucza\'s personal website')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap')
        link(rel='stylesheet', href='/main.css')
    body
        main
            h1.name Karol Kucza
            h2.nick aka achook

            p.bio
                | Developer.
                wbr
                | Photographer.
                wbr
                | Amateur.
            
            p.city
                include icons/place.pug
                | Kraków,
                wbr
                | Poland
                wbr
                a(href='https://www.google.com/maps/place/Kraków/', target='_blank').where
                    | where?
                    include icons/open.pug
            
            

            .links
                a(href='https://github.com/achook', target='_blank').link
                    | GitHub
                    include icons/open.pug
                a(href='https://twitter.com/karolkucza', target='_blank').link
                    | Twitter
                    include icons/open.pug
                a(href='https://unsplash.com/@achook', target='_blank').link
                    | Unsplash
                    include icons/open.pug
            //-
                a(href='https://photos.kucza.xyz').link
                    | My photos
                    include icons/open.pug

        a(href='mailto:karol@kucza.xyz').mail
            | Get in touch with me